:root {
  --Primary: #ff75a0;
  --Secondary: #a8e6cf;
  --Third: #d9d9d9;
  --Quartenary: #9163aa;
}

/* Main */

.CursorChange {
  cursor: pointer;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: Prompt;
}

/* Background Vid */

video {
  position: fixed;
  z-index: -1;
  height: 100vh;
  border-bottom: 5px solid #d9d9d9;
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}

/* Navbar */

.navbar {
  background-color: var(--Secondary);
  min-width: 100%;
}

.button-nav {
  background-color: var(--Secondary);
  border: none;
  font-family: Poppins;
  color: #fff;
}

.button-nav:hover {
  background-color: var(--Primary);
  color: #fff;
}

.button-nav:not(:disabled):not(.disabled):active {
  background-color: #9163aa;
  color: #fff;
}

.button-nav:focus {
  background-color: var(--Quartenary);
  color: #fff;
}

.HomeButton {
  padding-top: 3em;
  padding-left: 3em;
}

.button-nav-favourites {
  background-color: var(--Secondary);
  border: none;
  font-family: Poppins;
  color: #fff;
  margin-left: auto;
  margin-right: 5px;
}

.button-nav-favourites:hover {
  background-color: var(--Primary);
  color: #fff;
}

.button-nav-favourites:not(:disabled):not(.disabled):active {
  background-color: #9163aa;
  color: #fff;
}

.button-nav-favourites:focus {
  background-color: var(--Quartenary);
  color: #fff;
}

.HeartLogo {
  margin-right: 7px;
}

/* Question Box */

@media only screen and (max-width: 1820px) {
  .InputBoxes {
    display: block;
    width: 100%;
    height: auto;
    min-width: 0;
  }

  .QuestionForm {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 1200px) {
  .BackContainer {
    min-width: 70%;
  }
}

.QuestionForm {
  display: block;
  text-align: center;
  padding: 1.5em;
  top: 50%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 40px;
  background-color: var(--Secondary);
  width: 80%;
  border-radius: 10px;
  font-family: DM Sans;
}

.InputBoxes {
  width: 90%;
  padding: 10px;
  border-style: none;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

select {
  display: block;
  margin: auto;
  margin-bottom: 10px;
  color: #6f6f6f;
}

input {
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.InputButton {
  background-color: var(--Primary);
  border: none;
  width: 90%;
  color: #fff;
}

.InputButton:hover {
  background-color: #9163aa;
  color: #fff;
}

.BackContainer {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: block;
  text-align: center;
  color: #fff;
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.BackContainer p {
  font-family: Poppins;
  font-size: 1.5rem;
  padding-top: 20px;
}

.BackingLayer {
  min-height: 20%;
  width: 70%;
  margin-top: 6em;
  margin-bottom: 3em;
}

/* Initial Details */

.InitialResultsCards {
  margin-left: 5em;
  margin-right: 5em;
  margin-top: 1.2%;
}

.IMGResults {
  display: flex;
  height: 475px;
  width: 800px;
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.card:hover {
  opacity: 0.7;
  border: 7px solid var(--Secondary);
}

.card-title {
  font-family: Poppins;
}

@media only screen and (max-width: 990px) {
  .IMGResults {
    display: block;
    width: auto;
    height: auto;
  }
}

@media only screen and (max-width: 1810px) {
  .InitialResultsCards {
    margin-bottom: 10%;
  }
}

/* Details Page */

.BackButton {
  display: block;
  position: absolute;
  top: 1%;
  left: 5%;
  max-height: 35px;
  max-width: 35px;
}

.BackButton:hover {
  background-color: var(--Primary);
  box-shadow: 3px 3px var(--Primary);
  border-radius: 50%;
}

.BackButton:active {
  background-color: var(--Quartenary);
  box-shadow: 3px 3px var(--Quartenary);
  border-radius: 50%;
}

.HeartButton {
  display: block;
  position: absolute;
  bottom: 1%;
  right: 8%;
  max-height: 35px;
  max-width: 35px;
}

.HeartButton:hover {
  background-color: var(--Primary);
  box-shadow: 3px 3px var(--Primary);
  border-radius: 20%;
  margin: 2px;
}

.HeartButton:active {
  background-color: var(--Quartenary);
  box-shadow: 3px 3px var(--Quartenary);
  border-radius: 20%;
  margin: 2px;
}

.LocationButton {
  display: block;
  position: absolute;
  bottom: 1%;
  right: 0.5%;
  max-height: 35px;
  max-width: 35px;
}

.LocationButton:hover {
  background-color: var(--Primary);
  box-shadow: 3px 3px var(--Primary);
  border-radius: 20%;
  margin: 2px;
}

.LocationButton:active {
  background-color: var(--Quartenary);
  box-shadow: 3px 3px var(--Quartenary);
  border-radius: 20%;
  margin: 2px;
}

.DetailedDesc {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.MainIMGResult {
  height: 100%;
}

.DetailedTitle {
  font-family: Poppins;
}

.Detailedtext {
  text-align: justify;
}

@media only screen and (max-width: 1550px) {
  .DetailedDesc {
    display: block;
    height: auto;
  }

  .MainIMGResult {
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
  }

  .BackButton {
    display: block;
    position: static;
  }

  .LocationButton {
    display: block;
    position: static;
    float: right;
  }
}

/* Map Page */

.MapDetails {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.MainIMGMap {
  height: 100%;
}

.MapTitle {
  font-family: Poppins;
}

.Maptext {
  text-align: justify;
}

@media only screen and (max-width: 1700px) {
  .MapDetails {
    display: block;
    height: auto;
  }

  .MainIMGMap {
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
  }
}

/* Favourites */

.FavouritesBox {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 100px;
  margin: 25px 50px;
}

.FavouritesTitle {
  font-family: Poppins;
}

/* Contact */

.ContactInfoContainer {
  display: block;
  position: fixed;
  text-align: center;
  top: 40%;
  left: 12%;
  color: #fff;
  font-family: Poppins;
}

.ContactTitle {
  color: #fff;
  text-align: center;
  padding-top: 75px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 3.5rem;
}

.ContactInfo {
  padding: 5%;
  line-height: 50px;
  font-family: DM Sans;
  font-size: 2.5rem;
}

.ContactEmail .ContactPhone {
  font-family: DM Sans;
}

.ContactPhoneImg {
  max-height: 22px;
  max-width: 22px;
}

.ContactEmailImg {
  max-height: 30px;
  max-width: 30px;
  padding-right: 7px;
}

.ContactDetails {
  padding-top: 65px;
}

.ContactForm {
  display: block;
  position: fixed;
  text-align: center;
  padding: 1em;
  top: 40%;
  right: 12%;
  font-family: DM Sans;
}

.ContactFormInputs {
  display: block;
  width: 500px;
  padding: 5%;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-style: none;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.ContactButton {
  background-color: var(--Quartenary);
  border: none;
  padding: 15px;
  float: right;
  margin: 5px;
  color: #fff;
  font-family: DM Sans;
}

.ContactButton:hover {
  background-color: var(--Primary);
  color: #fff;
}

@media only screen and (max-width: 1400px) {
  .MainContactContainer {
    display: block;
    text-align: center;
    position: static;
  }

  .ContactInfoContainer {
    display: block;
    position: static;
    padding: 0;
  }
  .ContactForm {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: auto;
    right: auto;
    width: 80%;
  }

  .ContactFormInputs {
    display: block;
    padding: 15px;
    margin: auto;
    width: 80%;
  }

  .ContactButton {
    display: block;
    padding: 15px;
    margin-right: 10%;
  }
}

/* Footer */

.footer {
  background-color: var(--Primary);
  justify-content: center;
  font-family: Poppins;
  height: 25px;
}

.footerText {
  color: #fff;
  position: absolute;
  padding-top: 15px;
}

.navbar-brand {
  color: #fff;
}
