:root {
  --Primary: #ff75a0;
  --Secondary: #a8e6cf;
  --Third: #d9d9d9;
}

/* Main */

.CursorChange {
  cursor: pointer;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: Prompt;
}

h1 h2 {
  font-family: Montserrat;
  font-size: 2em;
}

/* Background Vid */

video {
  position: fixed;
  z-index: -1;
  height: 100vh;
  border-bottom: 5px solid #d9d9d9;
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}

/* Navbar */

.navbar {
  background-color: var(--Secondary);
  min-width: 100%;
}

.button-nav {
  background-color: var(--Primary);
  border: none;
  font-family: Montserrat;
}

.HomeButton {
  padding-top: 3em;
  padding-left: 3em;
}

/* Question Box */

@media only screen and (max-width: 1820px) {
  .InputBoxes {
    display: block;
    width: 100%;
    height: auto;
    min-width: 0;
  }

  .QuestionForm {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 1200px) {
  .BackContainer {
    min-width: 70%;
  }
}

.QuestionForm {
  display: block;
  text-align: center;
  padding: 1em;
  top: 50%;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 40px;
  background-color: var(--Secondary);
  width: 80%;
}

.InputBoxes {
  width: 94%;
  padding: 10px;
}

input {
  display: block;
  margin: auto;
  margin-bottom: 10px;
  padding: 5px;
}

.InputButton {
  background-color: var(--Primary);
  border: none;
  width: 94%;
}

.BackContainer {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: block;
  text-align: center;
  color: #fff;
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.BackingLayer {
  min-height: 20%;
  width: 50%;
  margin-top: 2em;
  margin-bottom: 1em;
}

/* Initial Details */

.InitialResultsCards {
  margin-left: 5em;
  margin-right: 5em;
  margin-top: 2%;
}

.IMGResults {
  display: flex;
  height: 475px;
  width: 800px;
}

@media only screen and (max-width: 990px) {
  .IMGResults {
    display: block;
    width: auto;
    height: auto;
  }
}

@media only screen and (max-width: 1810px) {
  .InitialResultsCards {
    margin-bottom: 10%;
  }
}

/* Details Page */

.BackButton {
  display: block;
  position: absolute;
  top: 1%;
  left: 0.5%;

  max-height: 50px;
  max-width: 50px;
}

.DetailedDesc {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.MainIMGResult {
  height: 100%;
}

.Detailedtext {
  text-align: justify;
}

@media only screen and (max-width: 1550px) {
  .DetailedDesc {
    display: block;
    height: auto;
  }

  .MainIMGResult {
    display: block;
    width: 100%;
    /* width: auto; */
    height: auto;
    text-align: center;
  }

  .BackButton {
    display: block;
    position: static;
  }
}

/* Map Page */

.MapDetails {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.MainIMGMap {
  height: 100%;
}

.Maptext {
  text-align: justify;
}

@media only screen and (max-width: 1700px) {
  .MapDetails {
    display: block;
    height: auto;
  }

  .MainIMGMap {
    display: block;
    width: 100%;
    /* width: auto; */
    height: auto;
    text-align: center;
  }
}

/* Favourites */

.FavouritesBox {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 100px;
  margin: 25px 50px;
}

/* Contact */

.ContactInfoContainer {
  display: block;
  position: fixed;
  text-align: center;
  top: 41%;
  left: 12%;
  color: #fff;
  font-family: Montserrat;
}

.ContactTitle {
  color: #fff;
  text-align: center;
  padding-top: 100px;
}

.ContactInfo {
  padding: 5%;
  line-height: 50px;
}

.ContactForm {
  display: block;
  position: fixed;
  text-align: center;
  padding: 1em;
  top: 40%;
  right: 12%;
}

.ContactFormInputs {
  display: block;
  width: 500px;
  padding: 5%;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.5);
}

.ContactButton {
  background-color: var(--Primary);
  border: none;
  padding: 15px;
  float: right;
  margin: 5px;
}

@media only screen and (max-width: 1300px) {
  .MainContactContainer {
    display: block;
    text-align: center;
    position: static;
  }

  .ContactInfoContainer {
    display: block;
    position: static;
    padding: 0;
  }
  .ContactForm {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: auto;
    right: auto;
    width: 80%;
  }

  .ContactFormInputs {
    display: block;
    padding: 15px;
    margin: auto;
    width: 80%;
  }

  .ContactButton {
    display: block;
    padding: 15px;
    margin-right: 10%;
  }
}

/* Footer */

.footer {
  background-color: var(--Primary);
  justify-content: center;
}

.navbar-brand {
  color: #fff;
}
